%pos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

%img {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

%contentList {

    li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 30px;
        line-height: 180%;
        color: #fff;

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 16px;
            height: 15px;
            background: url('../images/icon/list-icon.svg') 50% 50% /cover no-repeat;
        }
    }
}