@import "../../fonts/app/font.css";

@import "config/variables";
@import "config/placeholders";

@import "~bootstrap/scss/bootstrap", "~@fancyapps/fancybox/dist/jquery.fancybox.css";

@import "base/body";
@import "base/btn";
@import "base/layout";
@import "base/pages";
@import "base/animation";

@import "modules/menu";
@import "modules/forms";
@import "modules/modal";
@import "modules/slider";
@import "modules/breadcrumb";
@import "modules/fancybox";
@import "modules/card";

@import "layout/header";
@import "layout/intro";
@import "layout/portfolio";
@import "layout/services";
@import "layout/advantages";
@import "layout/feedback";
@import "layout/about";
@import "layout/blog";
@import "layout/contacts";
@import "layout/footer";
@import "layout/auth";
@import "layout/review";

@import "pages/page-portfolio";
@import "pages/page-blog";
@import "pages/page-contacts";
@import "pages/page-thanks";

@import "single/single-portfolio";
@import "single/single-blog";
@import "single/single-article";

