// Body
$body-bg: #f9f9f9;
$body-color: #1d2024;

// Typography
$font-family-base: 'Fira Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark: #1d2024;
$yellow: #ffd61d;
$secondary: #666a6e;
$success: #66cc99;
$info: #38c2e0;
$danger: #C62828;
$primary: #ff6159;
$link-color: $dark;

$link-hover-decoration: none;


