#app-header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #26292F;
  height: 60px;
  padding: 0 30px;
  z-index: 200;
  background: $body-bg;
  flex-wrap: wrap;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    height: 100px;
  }

  .header-nav {
    display: none;

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      display: block;
    }

    .menu-list {
      display: flex;

      li {
        margin-right: 25px;
      }
    }
  }

  .menu-list {

    li {

      a {
        display: block;
        position: relative;
        color: #fff;
        font-size: .875rem;
        text-transform: uppercase;

        &::before {
          content: '';
          position: absolute;
          left: 51%;
          right: 51%;
          bottom: -40px;
          height: 2px;
          background: $primary;
          transition: .5s;
        }

        &:hover {

          &:before {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;

    img {
      width: auto;
      max-width: 100%;
    }
  }

  .header-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;


    .contacts-item {
      display: none;

      @media (min-width: map_get($grid-breakpoints, md)) {
        display: block;
      }
    }
  }

  .locale-selector {
    position: relative;
    display: flex;
    margin-right: 30px;
    align-items: center;
    z-index: 50;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;

    &-value {
      font-family: $headings-font-family;
      color: $primary;
    }

    &-list {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 17px 0 10px;
      z-index: -1;
      opacity: 0;
      pointer-events: none;
      transition: 0.35s;
      transform: translateY(-50px);
      visibility: hidden;

      li {
        margin: 4px 0;
        line-height: 1.1;

        a {
          color: $body-color;
          transition: .5s;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    &:hover {
      ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
      }
    }
  }
}
.contact-header-mobile {
  position: fixed;
  display: flex;
  align-items: center;
  top: 60px;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  z-index: 20;
  background: #4bd9d1;
  flex-wrap: wrap;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    top: 100px;
  }
  @media (min-width: map_get($grid-breakpoints, md)) {
    display: none;
  }
}
.contact-mobile {
  display: flex;
  padding: 0 30px;
  margin-top: 10px;
  justify-content: center;
  width: 100%;
  .contacts-item__title {
    color: #fff;
    font-size: 0.875rem;
    margin-right: 20px;
  }
}